<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../../file.js"></script>
    <script src="../../overall.js"></script>
    <link rel="stylesheet" type="text/css" href="../../overall.css">
</head>
<body>

    <div class="main">
        <div class="config">
            <div><span>Player: </span><input id="player" type="file"></div>
            <div>
                <span>Player Image URL:</span><input id="playerImageURL"/>
                Top: <input type="range" min="-300" max="300" value="50" class="slider" id="imageTop">
                Left: <input type="range" min="-300" max="300" value="50" class="slider" id="imageLeft">
                Width: <input type="range" min="200" max="900" value="350" class="slider" id="imageWidth">
                Height: <input type="range" min="200" max="900" value="350" class="slider" id="imageHeight">
            </div>
        </div>
        <div class="background-image"></div>
        <div id="imgPost" class="post">
            <img src="../../tfs-logo.png" class="tfs-logo">
            <div class="title">
                <div class="player-name-text">Neymar</div><div class="text"> FIFA Evolution</div>
            </div>
            <div class="chart"></div>
        </div>
    </div>
    <script>
        loadFileContent('#player', data => {
            $('div.chart').empty()
            $.each(data, (index, item) => {
                let bar = ''
                bar += '<div class="bar" id="bar-' + index + '">'
                bar += '    <div class="bar-top">'
                bar += '        <div class="team-logo"><img src="' + item['team_image_url'] + '"></div>'
                bar += '        <div class="overall" id="overall-' + index + '">' + item['overall_rating'] + '</div>'
                bar += '    </div>'
                bar += '    <div class="fifa-version"><img src="../../fifa-logos/fifa-' + item['version_name'] + '.jpg"></div>'
                bar += '</div>'

                $('div.chart').append(bar)
                updateOverallColor($('#overall-' + index), item['overall_rating'])
                $('#bar-' + index).css('height', item['overall_rating'] * item['overall_rating'] / 25)
                $('.player-name-text').text(item['name'])
            })

        })

        $('#playerImageURL').on('change', event => {
            $('.background-image').css('background-image', 'url("' + event.target.value + '")')
        })

        $('#imageTop').on('input', event => {
            updateProperty($('.background-image'), 'top', event)
        })

        $('#imageLeft').on('input', event => {
            updateProperty($('.background-image'), 'left', event)
        })

        $('#imageWidth').on('input', event => {
            updateProperty($('.background-image'), 'width', event)
        })

        $('#imageHeight').on('input', event => {
            updateProperty($('.background-image'), 'height', event)
        })

        const updateProperty = (element, property, event) => {
            element.css(property, event.target.value + 'px')
        }

    </script>
</body>
</html>