@font-face {
  font-family: prompt-regular;
  src: url(../../fonts/Prompt/Prompt-Regular.ttf);
}

body {
    font-family: prompt-regular;
}

.chart {
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column-reverse;
    flex-flow: wrap-reverse;
    background-color: rgba(35, 51, 124, 0.25);
    justify-content: space-evenly;
}

.background-image {
    content: "";
    background: url("https://i.pinimg.com/originals/60/b9/a3/60b9a32f53d0f9421d917ab8088d5287.jpg");
    opacity: 0.5;
    top: -285px;
    left: -140.9px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 649px;
    height: 841px;
}

.bar {
    background-color: #23327d;
    display: flex;
    width: 25px;
}

.fifa-version {
    display: flex;
    flex-direction: column-reverse;
}

.fifa-version img {
    width: 54px;
    transform: rotate(-90deg);
    margin: 0px 0px 95px -35px;
    opacity: 0.9;
}

.overall {
    color: white;
    width: 25px;
    text-align: center;
    position: relative;
    top: -32px;
}

.lower-than-99 {
    background-color: green !important;
}

.lower-than-81 {
    background-color: #9bbf30 !important;
}

.lower-than-71 {
    background-color: #ffc940 !important;
}

.lower-than-61 {
    background-color: #e77e23 !important;
}

.team-logo img {
    width: 25px;
    top: -28px;
    position: relative;
}

.bar-top {
    display: flex;
    flex-direction: column;
}

.tfs-logo {
    width: 35px;
    opacity: 0.7;
    display: flex;
    padding-left: 4px;
    left: 465px;
    top: 60px;
    position: absolute;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    left: 10px;
    position: absolute;
    margin-top: 22px;
    flex-direction: row;
}

.title .text {
    display: flex;
    color: white;
    font-size: 21px;
    padding-left: 4px;
}

.title .player-name-text {
    background: #23337c;
    padding-left: 5px;
}